<div class="card">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, atque
        eveniet! Minus ut cumque assumenda fuga sequi non quibusdam aliquid
        modi, eveniet quam mollitia similique perferendis, laborum, impedit
        soluta ex!
      </p>

      <form action="" class="form-inline mb-5">
        <div class="form-group col-md-5">
          <input type="text" class="form-control" placeholder="Email Address" />
        </div>
        <div class="col-md-2">
          <button class="btn btn-info btn-block btn-sub">SUBSCRIPTION</button>
        </div>
      </form>
    </div>
  </div>
</div>
