<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/30145999/pexels-photo-30145999/free-photo-of-l-rot-ca-phe-truy-n-th-ng-c-a-th-nhi-k.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design </small>
          <small class="bg-light text-success text-center">Featured </small>
          <small class="bg-light text-primary text-center"
            >Views - 100, 255
          </small>
          <small class="bg-light text-warning text-center"
            >Last Updated - Sep 20, 2025</small
          >
          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2025 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Exercitationem laudantium quis nesciunt, nobis quam enim, deserunt
            numquam ducimus consequatur nemo repellat voluptate hic molestias
            voluptas aut sed, libero sapiente? Quia.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
  </div>
</div>
