<div class="card">
  <img
    src="https://images.pexels.com/photos/65433/pexels-photo-65433.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-danger text-center ml-3">Featured</small>
    <small class="bg-light text-danger text-center ml3">Views - 100,256</small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2025 EDITED</h5>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>

    <small class="bg-light text-warning text-center ml3">Last updated - Sep 20, 2023</small>
  </div>
</div>
